div.jumbotron
  div.container
    p.col-md-7
      span Duis mollis, in ligula odio, dignissim sed volutpat ut, facilisis non sapien. Maecenas sed condimentum risus, a dignissim ipsum.

div.container.main-content
  include main-article.jade
  include related-articles.jade
  include sidemenu.jade
