.jumbotron
  background-color: $jumbotron-bg-color

  p
    padding: 0
    font-family: $header-font
    font-weight: $normal-font-weight
    font-size: 2em

    span
      background-color: $jumbotron-highlight-bg-color
      color: $highlight-font-color
      padding: 0.3em 0

.main-content
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: flex-start

  .main-article
    width: 75%
    order: 1
    padding-right: 2%
    @media (max-width: 767px)
      width: 100%
      padding-right: 0

    >p:first-of-type
      font-size: 1.4em
      line-height: 1.5em
      padding: 1em 0

    .quote
      width: 60%
      float: right
      font-size: 1.2em
      line-height: 1.6em
      padding: 2em 2em 0 2em
      color: #687B89
      font-style: italic

    .quote-footer::before
      content: "- "

    .quote-footer
      width: 60%
      padding: 0 1em 1em 0
      float: right
      text-align: right

  .related-articles
    order: 3
    margin-top: 2em
    display: flex
    flex-direction: row
    flex-wrap: wrap

    h1
      width: 100%

    article
      width: 32%
      margin-right: 2%

    article:nth-of-type(3n)
      margin-right: 0

    .thumbnail
      padding: 0
      border-width: 2px

  .more-articles
    margin-top: 10em

    .media-object
      width: 160px

  h1.section-header
    background-color: #EAE8E9
    line-height: 0.15em
    margin: 1.5em 0

    span
      background-color: #FFF
      display: inline-block
      border-left: 0.8em solid #FFF
      border-right: 0.8em solid #FFF
