$normal-font: 'Merriweather', Arial, serif
$normal-font-weight: 400
$normal-font-color: #676767

$header-font: 'Montserrat', sans-serif
$header-font-weight: 700

$jumbotron-bg-color: #8198A0
$jumbotron-highlight-bg-color: #EEAC56

$main-article-width: 75%

$secion-header-bg-color: #E9E7E8

$quote-width: 60%
$quote-color: #687B89

$highlight-color: #1ED6CA
$highlight-font-color: #FFF

$contact-us-bg-color: #E9E7E8
$contact-us-bg-deep-color: #D7D3D2
$send-me-msg-font-color: #B5B3B4

$deep-color: #28373E
$deep-active-color: #1F2A30

$footer-link-color: #53656D

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius
