$normal-font: 'Merriweather', Arial, serif
$normal-font-weight: 400
$normal-font-color: #676767

$header-font: 'Montserrat', sans-serif
$header-font-weight: 700

$highlight-color: #1ED6CA

$deep-color: #28373E
$deep-active-color: #1F2A30

$footer-title-color: #FFF
$footer-link-color: #53656D
