html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 250px;
  font-family: 'Metrophobic', Arial, serif;
  font-weight: 400;
}

a {
  color: #1ED6CA;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

nav.navbar {
  background-color: #28373E;
  min-height: 40px;
}

#nav-logo {
  margin-top: 1.1em;
  width: 6em;
}

#navbar {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
}
#navbar li>a {
    line-height: 10px;
}

#navbar ul li.active {
  border-bottom: 2px solid #1ED6CA;
}

#navbar ul li.active>a {
  background-color: #1F2A30;
}

.jumbotron {
  background-color: #8198A0;
}

.jumbotron p {
  padding: 0;
}

.jumbotron p span {
  background-color: #EEAC56;
  color: #FFF;
  padding: 0.3em 0;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.main-content .main-article {
  width: 75%;
  order: 1;
  padding-right: 2%;
}

.main-content .more-articles {
}

.main-content .sidemenu {
  width: 25%;
  order: 2;
  align-self: flex-end;
}

.main-content .related-articles {
  order: 3;
}

.related-articles h1 {
  width: 100%;
}

.related-articles article {
  width: 32%;
  margin-right: 2%;
  float: left;
}

.related-articles article:nth-child(3n+1) {
  margin-right: 0;
}

.article-quote {
  float: right;
}

.more-articles .media-object {
  width: 140px;
}

.submenu {
  border: 1px solid #E7E7E7;
  padding-bottom: 1.4em;
  margin-bottom: 1.4em;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.submenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.submenu ul>li>a {
    display: block;
    padding: .5em .7em;
}

.submenu ul>li>a.active, .submenu ul>li>a:hover {
    background: #1ED6CA;
    color: #FFF;
    text-decoration: none;
}

.contact-us {
  background-color: #E9E7E8;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}

.contact-us>header {
  background-image: url('../img/hk-skyline.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 110px;
  padding-top: 70px;
}

.contact-us header img {
  width: 80px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #FFF;
}

.contact-us .contact-info {
  margin-top: 50px;
  margin-bottom: 30px;
}

.contact-us .contact-info dt {
  width: 60px;
}

.contact-us .contact-info dd {
  margin-left: 80px;
}

.contact-us .send-me-msg {
  background-color: #D7D3D2;
  padding: 5px 20px 20px 20px;
}

.contact-us .send-me-msg h1 {
  margin-top: 0;
}

/*.office-address {
  padding: 20px;
}*/

#officeMap {
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
  background-color: #28373E;
}

.footer nav {
  text-align: center;
}

.footer nav h1 {
  color: #FFF;
  text-align: center;
}

.footer nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
