html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 45px;
  padding-bottom: 20px;
  margin-bottom: 20em;
  font-family: 'Merriweather', Arial, serif;
  font-weight: 400;
}

a {
  color: #1ED6CA;
  text-decoration: none;
}

p {
  padding: 0.5em 0;
  font-weight: 100;
  color: #676767;
  font-size: 1.1em;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

nav.navbar {
  background-color: #28373E;
  min-height: 45px;
}

#nav-logo {
  margin-top: 0.9em;
  width: 6em;
}

#navbar {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}
#navbar li>a {
    line-height: 12px;
    padding-left: 1.8em;
    padding-right: 1.8em;
}

#navbar ul li.active {
  border-bottom: 2px solid #1ED6CA;
}

#navbar ul li.active>a {
  background-color: #1F2A30;
}

.jumbotron {
  background-color: #8198A0;
}

.jumbotron p {
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2em;
}

.jumbotron p span {
  background-color: #EEAC56;
  color: #FFF;
  padding: 0.3em 0;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.main-content .main-article {
  width: 75%;
  order: 1;
  padding-right: 2%;
}

.main-article>p:first-of-type {
  font-size: 1.4em;
  line-height: 1.5em;
  padding: 1em 0;
}

.main-content .sidemenu {
  width: 25%;
  order: 2;
  align-self: flex-start;;
}

.related-articles {
  order: 3;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.related-articles h1 {
  width: 100%;
}

.related-articles article {
  width: 32%;
  margin-right: 2%;
}

.related-articles article:nth-child(3n+1) {
  margin-right: 0;
}

.related-articles .thumbnail {
  padding: 0;
  border-width: 2px;
}

.article-quote {
  float: right;
  border-left: none;
}

.article-quote p {
  color: #6D8289;
  font-style: italic;
}
.more-articles {
  margin-top: 10em;
}

.more-articles>h1, .related-articles>h1 {
  background-color: #EAE8E9;
  line-height: 0.15em;
  margin: 1.5em 0;
}

.more-articles>h1 span, .related-articles>h1 span {
  background-color: #FFF;
  display: inline-block;
  border-left: 0.8em solid #FFF;
  border-right: 0.8em solid #FFF;
}

.more-articles .media-object {
  width: 160px;
}

.submenu {
  border: 1px solid #E7E7E7;
  padding-bottom: 1.4em;
  margin-bottom: 1.4em;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.submenu h1 {
  font-size: 1.4em;
}

.submenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.submenu ul>li>a {
    display: block;
    padding: .5em 1.3em;
}

.submenu ul>li>a.active, .submenu ul>li>a:hover {
    background: #1ED6CA;
    color: #FFF;
    text-decoration: none;
}

.contact-us {
  background-color: #E9E7E8;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}

.contact-us h1 {
  margin: 1em;
  font-size: 1.4em;
}

.contact-us>header {
  background-image: url('../img/hk-skyline.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 110px;
  padding-top: 70px;
}

.contact-us header img {
  width: 80px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #FFF;
}

.contact-us .contact-info {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 0.8em;
}

.contact-us .contact-info dt {
  margin: 0.5em 0 0.5em 3em;
  text-align: left;
  width: 4em;
}

.contact-us .contact-info dd {
  margin-left: 0;
  padding-top: 0.5em;
}

.contact-us .send-me-msg {
  background-color: #D7D3D2;
  padding: 5px 20px 20px 20px;
}

.contact-us .send-me-msg label {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  color: #B5B3B4;
  margin-bottom: 0;
}

.contact-us .send-me-msg footer {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  color: #B5B3B4;
  text-align: right;
  margin-top: 0.3em;
}

.contact-us .send-me-msg .btn-info {
  background-color: #19BDB2;
  margin: 2em 0 0 0;
  padding: 1em 0;
}

.contact-us .office-address address {
  margin: 1em 1em 2em 2em;
  line-height: 2em;
  color: #656668;
}

#officeMap {
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20em;
  background-color: #28373E;
  padding-top: 3em;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.footer nav {
  text-align: center;
  min-width: 25%;
}

.footer nav h1 {
  color: #FFF;
  text-align: center;
  font-size: 2em;
}

.footer nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer nav ul li a {
  display: inline-block;
  color: #53656D;
  padding: 0.2em 0;
  font-weight: 100;
  font-size: 1.3em;
}

@media (min-width: 768px) and (max-width: 992px) {
  body {
    font-size: 1em;
  }
}


@media (max-width: 767px) {
  .main-content .main-article {
      width: 100%;
      padding-right: 0;
  }

  .main-content .sidemenu {
    order: 5;
    width: 100%;
  }

  .contact-us .contact-info {
    font-size: 1em;
  }

  .dl-horizontal dt {
    float: left;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  body {
    margin-bottom: 45em;
  }

  .footer {
    padding-top: 0;
    font-size: 1em;
    flex-direction: column;
    height: 45em;
  }
}
